body{
    background:#7f0000;
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: #bd0003;
    color: rgb(255, 255, 255);
    border-radius: 18px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}